body {
  background-color: #d5b8c9;
  overflow-x: hidden;
}

.nav-item {
  font-family: "Oswald", sans-serif;
  font-size: large;
}

.footer {
  background-color: #212529;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 0;
  border-radius: 0;
  z-index: 99;
}
