body section.mainContent div.heroSection, div.socialMediaPromotionSection {
    /* position: relative; */
    width: 100vw;
    /* height: 95vh; */
    height: 100vh;
}
    body section.mainContent div.heroSection {
        background-color: antiquewhite;
    }
        /* Power phrase styling */
        body section.mainContent div.heroSection div.powerPhrase {
            position: absolute;
            /* top: 5vh; */
            top: 0;
            left: 0;
        }
        body section.mainContent div.heroSection div.powerPhrase img#powerPhrase {
            
            /* width: 904px;
            height: 111px; */
            width: 70vw;
            height: 20vh;
        }
        /* Carousel image styling */
        body section.mainContent div.heroSection div.carousel div.carousel-inner div.carousel-item img {
            max-width: 560px;
            /* max-height: 95vh; */
            height: 100vh;
            margin: auto;
        }
    body section.mainContent div.socialMediaPromotionSection {
        background-color: cadetblue;
    }