.socialMediaPromotionSection {
    /* min-height: fit-content; */
    min-height: 500px;
    background-color: #5f9ea0;
}

.carousel-item img {
    /* max-width: 560px;
    max-height: 520px; */
    margin: 10px auto;
    border-radius: 10%;
    box-shadow: 1px 1px 50px #add8e6;;
}

.powerPhraseContainer {
    position: absolute;
    top: 0;
    left: 0;
}

.power {
    font-family: Impact, sans-serif;
    text-decoration-line: underline;
    font-size: 150px;
    color: #ff0000;
}

.phrase {
    font-family: 'Courgette', cursive;
    font-size: 70px;
    text-shadow: 1px 1px 4px rgb(255, 255, 255);
    color: #000000;
}